.fightarea {
    display: flex;
    gap: 1.5rem;
}

#char, #monster {
    flex:1;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 0.5rem;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 0.5rem;
}

.log {
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}